/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px 0px;
}

/* general */

:root {
  --yellow: #f4e56b;
  --orange: #ff8000;
  --pink: #ff45b4;
  --gray: #1c1c1c;
  --white: #ffffff;
  --black: #000000;
}

h1 {
  font-family: "Boldonse", sans-serif;
  font-size: 35px;
}

h2 {
  font-family: "Jersey 25", sans-serif;
  font-size: 18px;
}

h3 {
  font-family: "lisbeth-display", sans-serif;
}

h4 {
  font-size: 16px;
}

h4,
p {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

.no_line {
  text-decoration: none;
}

.grid {
  display: grid;
}

.grid_center {
  place-self: center;
}
