---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import AboutSection1 from "../components/AboutSection1.astro";
import bluetexture from "../assets/blue-texture.webp";
---

<Layout title="SoundConnects">
  <main class="grid">
    <Menu />
    <AboutSection1 />
    <!-- <img src={bluetexture.src} alt="dark blue sand/texture" /> -->
  </main>
</Layout>

<style>
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
</style>
