---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Index_links from "../components/Index_links.astro";
import Index_events from "../components/Index_events.astro";
import Event from "../components/Event.astro";
---

<Layout title="SoundConnects">
  <header>
    <Menu />
  </header>
  <main>
    <Index_links />
    <Index_events>
      <Event />
    </Index_events>
  </main></Layout
>
