---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Index_links from "../components/Index_links.astro";
import Index_events from "../components/Index_events.astro";
import Event from "../components/Event.astro";
import blue_texture from "../assets/blue_texture.webp";
---

<Layout title="SoundConnects">
  <main class="grid">
    <img src={blue_texture.src} alt="dark blue sand/texture" />
    <Menu />
    <Index_links />
    <Index_events>
      <Event />
    </Index_events>
  </main>
</Layout>

<style>
  main {
    background-color: var(--gray);
    height: 100vh;
  }
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
</style>
