---
import sc8 from "../assets/SC-08.webp";
import sc10 from "../assets/SC-10.webp";
import sc7 from "../assets/SC-07.webp";
---

<section class="grid">
  <h3>SOUND CONNECTS IS A COLLECTIVE AIMING FOR COMMUNITY AND OPPORTUNITY</h3>
  <div class="grid">
    <img class="img1" src={sc10.src} alt="" />
    <img class="img2" src={sc8.src} alt="" />
    <img class="img3" src={sc7.src} alt="" />
  </div>
</section>

<style>
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    color: var(--pink);
    font-size: 16cqw;
    text-align: justify;
    line-height: 95px;
  }
  div {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  img {
    width: 80px;
    height: auto;
  }
  .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .img2 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
  }
  .img3 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
  }
</style>
